* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  margin: 10px;
  display: inline;
}
table {
  width: 0px;
  height: 0px;
}
#grey {
  justify-content: right;
}
.logo {
  width: 5vw;
  height: 5vh;
}
h3 {
  color: grey;
}
.mobile {
  display: none;
}
.cartao {
  grid-area: cartao;
}
@media (max-width: 1600px){
  .logo {
    grid-area: logo;
  }
  #menu-principal {
    grid-area: menu-principal;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'logo menu-principal'
    'imagem cartao'
    'descricao cartao'
    'footer footer'
    ;
    grid-gap: 5px;
    margin: 10px;
  }
  .descricao {
    display: grid;
    grid-template-columns: auto auto;
  }
  .modal {
    visibility: hidden;
  }
  .botao {
    display: none;
  }
  .img-top {
    width: 65vw;
    height: 30vh;
  }
  footer table {
    width: 100vw;
    height: 10vh;
  }
  footer .tabela {
    display: none;
  }
  .btn {
    width: 10vw;
  }
}

@media (max-width: 700px) {
  .logo {
    grid-area: logo;
    justify-content: left;
  }
  .botao{
    grid-area: modal;
    display: grid;
    justify-content: right;
  }
  .btn{
    width: 50vw;
  }
  .container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
  'logo modal'
  'mobile mobile'
  'descricao descricao'
  'cartao cartao'
  'footer footer'
  ;
  }
  .mobile {
    grid-area: mobile;
    display: inline-block;
    width: 40%;
    height: 60%;
  }
  .img-top {
    display: none;
  }
  .descricao {
    display: inline;
  }
  .modal {
    width: 70vw;
    height: 100vh;
    visibility: hidden;
    position: fixed;
    right: 0px;
    background-color: white;
    place-content: right; 
    
  }
  .modal:target {
    visibility: visible;
  }
  .modal-link {
    width: 5%;
  }
  #menu-principal{
    display: none;
  }
  .descricao {
    width: 100vw;
    height: 40vh;
  }
  .cartao {
    width: 100vw;
    height: 60vh;
  }
  footer .tabela {
    width: 100vw;
    height: 100vh;
    display: block;
    }
  footer table {
    display: none;
  }
}

.yellow {
  color: yellow;
}
h2 {
  color: white;
}
.div-img {

  grid-area: imagem;
}
.div-2 {
  grid-area: descricao;
  margin-left: 10px;
}
.div-3 {
  background-color: black;
  grid-area: cartao;
}

footer {
  grid-area: footer;
}

button {
  color: white;
  background-color: tomato;

}
#black {
  color: black;
}
#grey2 {
  color: grey;
}
